* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Satoshi", sans-serif;
}

body {
    transition: all 1s ease;
}

.alarm__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
}

.alarm__container {
    width: 525px;
}

.current__container {
    display: flex;
    gap: 10px;
    width: 100%;
    position: relative;
    height: 100px;
}

.current__container .time {
    position: absolute;
    left: 0;
}

.current__container span {
    position: absolute;
    right: 0;
}

.current__container .time,
.current__container span {
    font-family: "Clash Display", sans-serif;
    font-weight: bold;
    font-size: 75px;
    letter-spacing: 3px;
    transition: all 1s ease;
}

select {
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    outline: none;
    margin-right: 20px;
    cursor: pointer;
    font-size: 16px;
}

button {
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 15px 60px;
}

.control {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

.select__container {
    margin-bottom: 20px;
}

.alarms {
    margin-top: 35px;
    font-weight: 500;
    font-size: 20px;
}

/* styling for the checkbox from  https://www.w3schools.com/howto/howto_css_switch.asp*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 40px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (max-width: 400px) {
    .alarm__container {
        width: 270px !important;
    }

    .current__container {
        height: 75px;
    }

    .current__container .time,
    .current__container span {
        font-size: 37px;
        padding: 10px 0;
        position: static;
    }

    select {
        padding: 5px;
        margin-bottom: 10px;
        margin-right: 5px;
    }
}

@media (max-width: 768px) {
    .alarm__container {
        width: 530px;
    }
}

@media (max-width: 1024px) {
    .alarm__container {
        width: 520px;
    }
}
